<!DOCTYPE html>
{% extends 'auth123/index.html' %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    {% block body_block %}
    <div class="jumbotron">
        <div class="container">
            <h1>Welcome to Exams</h1>
            <h2>Rules:</h2>
            <ul>
                <li>Rule-1: You should write only one exam per day</li>
                <li>Rule-1: You should write only one exam per day</li>
                <li>Rule-1: You should write only one exam per day</li>
                <li>Rule-1: You should write only one exam per day</li>
                <li>Rule-1: You should write only one exam per day</li>
                <li>Rule-1: You should write only one exam per day</li>
                <li>Rule-1: You should write only one exam per day</li>
            </ul>
        </div>
    </div>
    {% endblock %}
</body>
</html>